.container {
    font-family: sans-serif;
    border-top: 0px;
    border-right: 0px;
}

body {
    color: white;
    background-color: black;
}

.name {
    font-size: 29px;
    padding-left: 120px;
}

header {
    position: fixed;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.603);
    justify-content: space-between;
}


.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    opacity: 1;
}

.header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 16px;
    padding-left: 420px;
    font-weight: 500;
}

.header a {
    padding: 30px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.icons_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
}

.icons_header img {
    display: inline flex;
    padding: 9px;
    height: 23px;
    width: 23px;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    border-radius: 50%;
}

.icons_header a {
    display: inline-flex;
    align-items: center;
    z-index: 1;
    padding: 0px;
    text-decoration: underline; 
    border-radius: 50%;
}

.icons_header ul {
    padding-left: 0px;
    gap: 7px;
    border-radius: 50%;
}

.icons_header li {
    display: inline-flex;
    width: 37px;
    height: 37px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}


.icons_header li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 100%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
   
    pointer-events: none;
}

.icons_header li:hover::before {
    width: 41px;
    height: 41px;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 1;
    border-color: none ;
}


#github:hover {
    filter: invert(1);
}

.logo {
    padding-top: 150px;
}

.logo img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid green;

}

h1 {
    color: green;
}

.center {
   text-align: center;
}

main {
    background-color: black;
    text-align: center;
}

.icons a {
    color: white;
    text-decoration: none;
}

.icons img {
    width: 43px;
    height: 43px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a {
    margin: 20px;
    text-align: center;
}

footer.icons p {
    color: white;
}
