body {
    font-family: 'Quando', serif;
    border-left: 180px;
    border-right: 180px;
    background-color: black;
    color: white;
}

main {
    height: 100vh;
    background-color: black;
    border-left: 180px;
    color: white
}


header {
    position: fixed;
    width: 100%;
    background-color: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.336);
    transition: height 0.5s ease;
    color: white;
    z-index: 100;
}


.header {
    transition: height 0.5s ease;
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    opacity: 1;
    z-index: 1;
}

.header.small {
    transition: height 0.3s ease;
    height: 70px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 0;
    padding-left: 600px;
    gap: 10px;
}

.header a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: 520;
}

.name {
    color: rgb(255, 253, 253);
    z-index: 1;
    font-size: 33px;
    padding-left: 180px;
}



.cube-container {
    margin-left: 22px;
    perspective:  1000px;
    perspective-origin: 100% 100%;
}

.cube {
    position: relative;
    width: 28px;
    height: 28px;
    transform-style: preserve-3d;
    animation: rotate 4s linear infinite;
}

.cube > div {
    position: absolute;
    width: 28px;
    height: 28px;
    opacity: 0.9;
    background: linear-gradient(to right, #09aec8, #001f4e49);
}

@keyframes fade {
    18%, 81% {
        opacity: 0;
    }
    9% {
        opacity: 1;
    }
}

.s1 {
    transform: translateZ(14px);
}

.s1-text {
    font-size: 26px;
    color: white;
    position: relative;
    padding-top: 2px;
    padding-left: 5px;
    animation: fade 4s infinite linear, reset-fade 18s steps(1) infinite;
    animation-delay: 0s;
}

.s2 {
    transform: rotateY(90deg) translateZ(14px);
}

.s3 {
    transform: rotateY(180deg) translateZ(14px);
}

.s3-text {
    font-size: 26px;
    color: white;
    position: relative;
    padding-bottom: 0px;
    padding-left: 4px;
    transform: rotate(180deg);
    animation: fade 4s infinite linear, reset-fade 18s steps(1) infinite;
    animation-delay: 6s;
}

.s4 {
    transform: rotateX(90deg) translateZ(14px);
}

.s5 {
    transform: rotateY(-90deg) translateZ(14px);
}

.s6 {
    transform: rotateX(-90deg) translateZ(14px) rotate(180deg);
}

.s6-text {
    font-size: 26px;
    color: white;
    position: relative;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-top: 5px;
    transform: rotate(90deg);
    animation: fade 4s infinite linear, reset-fade 18s steps(1) infinite;
    animation-delay: 9s;
}

@keyframes rotate {
    100% {
        transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
    }
}

.icons_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-left: 10px;
}

.icons_header img {
    display: inline flex;
    padding: 9px;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    border-radius: 50%;
}

.icons_header a {
    display: inline-flex;
    align-items: center;
    z-index: 1;
    padding: 0px;
    text-decoration: underline; 
    border-radius: 50%;
}

.icons_header ul {
    margin-right: 00px;
    padding-left: 0px;
    gap: 7px;
    border-radius: 50%;
}

.icons_header li {
    display: inline-flex;
    width: 37px;
    height: 37px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}


.icons_header li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 100%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
   
    pointer-events: none;
}

.icons_header li:hover::before {
    width: 41px;
    height: 41px;
    align-items: center;
    justify-content: center;
    z-index: -1;
    border-color: none ;
}


#github:hover {
    filter: invert(1);
}

.conect span {
    border: 1px solid white;
    height: 50px;
    width: 270px;
    display: flex;
    display: flex;
    justify-content: center; /* Alinhar horizontalmente ao centro */
    align-items: center;
    font-size: 20px;
    font-weight: 640;
}


.about-me {
    font-size: 36px;
    place-items: center;
    display: grid;
    background: linear-gradient(63.13deg, rgba(128, 0, 128, 0.036) 30%, #5d47889f 40%, #8E5D52 51.05%);
    height: 100vh;
    color: white;
    position: relative;
    
  }

.stars {
    z-index: 50;
    position: absolute;
    top: 34%;
    left:-37%;
    width: 123%;
    height: 143%;
    transform: rotate(64.13deg);
    z-index: 30;
  }

.star {
    position: absolute;
    background: white;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    transform-origin: center center;
  }

.blinking {
    animation: blink 2s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }


  

.about-me div {
    display: inline-flex;
    align-items: center;
}



.about-me h1 {
    font-size: 55px;
    z-index: 50;
}


.logo img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 2px solid black;

}

.center {
    margin-left: 450px;
}


main {
    background-color: black;
    text-align: center;
}

.icons a {
    color: white;
    text-decoration: none;
}

.icons img {
    width: 43px;
    height: 43px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a {
    margin: 20px;
    text-align: center;
}

footer.icons p {
    color: white;
}
