body {
    font-family: 'Quando', serif;
    border-left: 180px;
    border-right: 180px;
    background-color: black;
    color: white;
}


header {
    position: fixed;
    width: 100%;
    background-color: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.336);
    transition: height 0.5s ease;
    color: white;
    z-index: 9;
}


.header {
    transition: height 0.5s ease;
    display: inline-flex;
    width: 100%;
    height: 90px;
    align-items: center;
    opacity: 1;
    z-index: 5;
    margin-left: 180px;
    margin-right: 180px;
}

.header.small {
    transition: height 0.3s ease;
    height: 70px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 0;
    margin-left: 180px;
    gap: 10px;
}

.header a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: 520;
}

.header li :hover {
    color: rgba(255, 255, 255, 0.692);
}


.name-header {
    color: rgb(255, 253, 253);
    font-size: 33px;
    padding-left: 180px;
}



.cube-container {
    margin-left: 22px;
    perspective:  1000px;
    perspective-origin: 100% 100%;
}

.cube {
    position: relative;
    width: 28px;
    height: 28px;
    transform-style: preserve-3d;
    animation: rotate 4s linear infinite;
}

.cube > div {
    position: absolute;
    width: 28px;
    height: 28px;
    opacity: 0.9;
    background: linear-gradient(to right, #09aec8, #001f4e49);
}

@keyframes fade {
    18%, 81% {
        opacity: 0;
    }
    9% {
        opacity: 1;
    }
}

.s1 {
    transform: translateZ(14px);
}

.s1-text {
    font-size: 26px;
    color: white;
    position: relative;
    padding-top: 2px;
    padding-left: 5px;
    animation: fade 4s infinite linear, reset-fade 18s steps(1) infinite;
    animation-delay: 0s;
}

.s2 {
    transform: rotateY(90deg) translateZ(14px);
}

.s3 {
    transform: rotateY(180deg) translateZ(14px);
}

.s3-text {
    font-size: 26px;
    color: white;
    position: relative;
    padding-bottom: 0px;
    padding-left: 4px;
    transform: rotate(180deg);
    animation: fade 4s infinite linear, reset-fade 18s steps(1) infinite;
    animation-delay: 6s;
}

.s4 {
    transform: rotateX(90deg) translateZ(14px);
}

.s5 {
    transform: rotateY(-90deg) translateZ(14px);
}

.s6 {
    transform: rotateX(-90deg) translateZ(14px) rotate(180deg);
}

.s6-text {
    font-size: 26px;
    color: white;
    position: relative;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-top: 5px;
    transform: rotate(90deg);
    animation: fade 4s infinite linear, reset-fade 18s steps(1) infinite;
    animation-delay: 9s;
}

@keyframes rotate {
    100% {
        transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
    }
}

.icons_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons_header img {
    height: 24px;
    width: 24px;
}

.icons_header a {
    display: inline-block;
    border-radius: 100%;
}

.icons_header ul {
    gap: 7px;
}

.icons_header li {
    display: inline-flex;
    width: 37px;
    height: 37px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}


.icons_header li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 100%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
    overflow: hidden;
}

.icons_header li:hover::before {
    width: 41px;
    height: 41px;
    align-items: center;
    justify-content: center;
    z-index: -1;
    border-color: none ;
}


#github:hover {
    filter: invert(1);
}

.place-conect {
    padding-left: 180px;
}


.conect {
    border: 1px solid white;
    height: 50px;
    width: 270px;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 20px;
    font-weight: 640;
}


.stars {
    position: absolute;
    top: 34%;
    left:-37%;
    width: 120%;
    height: 143%;
    transform: rotate(64.13deg);
    z-index: 0;
  }

.star {
    position: absolute;
    background: white;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    transform-origin: center center;
    z-index: 0;
  }

.blinking {
    animation: blink 2s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }


h2 {
    font-size: 45px;
    color: white;
    display: flex;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}

.intro-section {
    place-items: center;
    display: flex;
    background: linear-gradient(63.13deg, rgba(37, 1, 37, 0.363) 30%, #5d47889f 40%, #8E5D52 51.05%);
    height: 100vh;
    color: white;
    justify-content: center; 
    align-items: center;
}

.content-intro {
    z-index: 1;
    display: flex;
    margin-left: 340px;
    margin-right: 310px;
    justify-content: space-between;
    width: calc(100% - 360px);
    align-items: center;
    max-width: 100%;
}

.text-intro p{
    font-size: 63px;
}

.text-intro .i-am {
    font-size: 33px;
}

.text-intro .job {
    font-size: 33px;
}

.cv {
    z-index: 1;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    padding: 18px 40px;
    font-size: 36px;
    border: 1px solid white ;
    border-radius: 36px;
    background: linear-gradient(90.21deg, rgb(10, 0, 7) -5.91%, rgba(73, 47, 189, 1) 111.58%);
    max-width: 100%;
    letter-spacing: 0;
    transition: letter-spacing 0.3s ease;
}


.cv a {
    text-decoration: none;
    color: white;
    z-index: 1;
}

.cv:hover {
    letter-spacing: 2px;
}

.logo img {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    border: 1px solid rgba(128, 0, 128, 0.021);
}


.about-me {
    position: relative;
    width: 100%;
    z-index: 63;
    background: linear-gradient(to bottom, rgba(15, 0, 15, 0.93) 27%, #654a9b7e 40%, #8e5d52 81.05%, rgba(15, 0, 15, 0.93) 93%);
    text-align: center;
    height: 81vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}

.about-me-content {
    max-width: 800px;
    margin: 0 auto;
}


.text-about {
    padding-top: 20px;
    font-size: 30px;
}

.about-me h2 {
    font-size: 45px;
    color: white;
    display: block;
    font-weight: 700;
    font-weight: bold;
}


.center-projects {
    max-width: 1000px;
    margin: 0 auto;
}


.projects {
    background: linear-gradient(to bottom, rgba(15, 0, 15, 0.93) 18%, #654a9b7e 40%, #dfa194 81.05%, #0e0818 90%);
    padding-top: 80px;
}

.projects h2 {
    margin-bottom: 20px;
}


.pro {
    z-index: 5;
    background-color: #C4C4C4;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
    margin: 0;
    display: flex;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #C4C4C4;
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background: linear-gradient(150deg, rgba(26, 4, 26, 0.93) 27%, #3c07a57e 40%, #061381 81.05%, #200252 93%);
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.projects-itens {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
    z-index: 0;
}

button {
    font-family: 'Quando', serif;
    font-size: 18px;
    padding: 8px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background-color: #493737;
    border: none;
    transition: ease-in-out 0.3s;
}

#ver-mais:hover {
    background-color: #7c5147;
}


.github-project {
    font-size: 20px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    text-decoration: none;
}

.github-project a {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 18;
    transition: ease-in-out 0.3s;
    margin-bottom: 45px;
}

.github-project a:hover {
    color: rgb(138, 165, 255);
}

.pro.oculta {
    display: none;
}

.center-skills {
    max-width: 1000px;
    margin: 0 auto;
}


.skills {
    height: 90ch;
    background: linear-gradient(to bottom, rgba(15, 0, 15, 0.93) 27%, #654a9b7e 40%, #8e5d52 81.05%, rgba(15, 0, 15, 0.93) 93%);
    display: flex;
}

.container-skills {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    z-index: 1;
    margin-left: 12px;
    transition: transform 0.6s;
}

.skills h2 {
    margin-top: 110px;
    margin-bottom: 80px;
}


.skill-box {
    display: flex;
    height: 165px;
    width: 280px;
    background-color: #c4c4c41f;
    border-radius: 15px;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    transition: transform 0.4s;
}

.container-skills :hover {
    transform: scale(1.03);
    transition: transform 0.4s;
}


.skill-box img {
    justify-content: center;
}

.skill-box p {
    margin-top: 30px;
    justify-content: center;
    font-size: 20px;
}

.icons a {
    color: white;
    text-decoration: none;
}

.html-skill {
    box-shadow: 0px 5px 10px orangered;
}

.css-skill {
    box-shadow: 0px 5px 10px rgb(99, 136, 255);
}

.js-skill {
    box-shadow: 0px 5px 10px rgb(251, 255, 23);
}

.python-skill {
    box-shadow: 0px 5px 11px rgb(52, 255, 52);
}

.mysql-skill {
    box-shadow: 0px 5px 10px rgb(255, 210, 210);
}

.php-skill {
    box-shadow: 0px 5px 11px gray;
}

.icons img {
    width: 43px;
    height: 43px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a {
    margin: 20px;
    text-align: center;
}

footer.icons p {
    color: white;
}

