body {
    font-family: 'Quando', serif;
    background-color: black;
    color: white;
    display: flex; /* Adicione display: flex */
    flex-direction: column; /* Alinhar verticalmente o conteúdo */
}

/* Resto do seu CSS... */


.container {
    display: grid;
}


.header {
    position: fixed;
    width: 100%;
    background-color: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.336);
    transition: height 0.5s ease;
    color: white;
    z-index: 9;
}


.nav {
    display: flex;
    transition: height 0.5s ease;
    width: 100%;
    height: 90px;
    align-items: center;
    opacity: 1;
    z-index: 5;
    margin-left: 180px;
    margin-right: 180px;
}

.nav-list {
    display: block;
    flex-wrap: wrap;
}

nav.small {
    transition: height 0.5s ease; 
    height: 70px;
}


.hamburger {
    padding-right: 0;
    padding-left: 0px;
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 750px) {
  .hamburger {
    display: block;
    z-index: 1;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(128, 128, 128, 0.733);
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
 

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 0;
    margin-left: 180px;
    gap: 50px;
}

.nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 520;
}

.nav li :hover {
    color: rgba(255, 255, 255, 0.692);
}


.name-header {
    color: rgb(255, 253, 253);
    font-size: 33px;
    margin-left: 170px;
}


.cube-container {
    margin-left: 22px;
    perspective:  1000px;
    perspective-origin: 100% 100%;
}

.cube {
    position: relative;
    width: 32px;
    height: 32px;
    transform-style: preserve-3d;
    animation: rotate 4s linear infinite;
}

.cube > div {
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0.9;
    background: linear-gradient(to right, #09aec8, #001f4e49);
}

@keyframes fade {
    18%, 81% {
        opacity: 0;
    }
    9% {
        opacity: 1;
    }
}

.s1 {
    transform: translateZ(16px);
}

.s1-text {
    font-size: 30px;
    color: white;
    position: relative;
    padding-top: 2px;
    padding-left: 5px;
    animation: fade 4s infinite linear, reset-fade 18s steps(1) infinite;
    animation-delay: 0s;
}

.s2 {
    transform: rotateY(90deg) translateZ(16px);
}

.s3 {
    transform: rotateY(180deg) translateZ(16px);
}

.s3-text {
    font-size: 30px;
    color: white;
    position: relative;
    padding-bottom: 0px;
    padding-left: 4px;
    transform: rotate(180deg);
    animation: fade 4s infinite linear, reset-fade 18s steps(1) infinite;
    animation-delay: 6s;
}

.s4 {
    transform: rotateX(90deg) translateZ(16px);
}

.s5 {
    transform: rotateY(-90deg) translateZ(16px);
}

.s6 {
    transform: rotateX(-90deg) translateZ(16px) rotate(180deg);
}

.s6-text {
    font-size: 30px;
    color: white;
    position: relative;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-top: 5px;
    transform: rotate(90deg);
    animation: fade 4s infinite linear, reset-fade 18s steps(1) infinite;
    animation-delay: 9s;
}

@keyframes rotate {
    100% {
        transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
    }
}



.icons_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px ;
}

.icons_header img {
    height: 24px;
    width: 24px;
}

.icons_header a {
    display: inline-block;
    border-radius: 100%;
}

.icons_header ul {
    gap: 7px;
}

.icons_header li {
    display: inline-flex;
    width: 37px;
    height: 37px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}


.icons_header li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 100%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
    overflow: hidden;
}

.icons_header li:hover::before {
    width: 41px;
    height: 41px;
    align-items: center;
    justify-content: center;
    z-index: -1;
    border-color: none ;
}


#github:hover {
    filter: invert(1);
}

.stars {
    display: flex;
    position: absolute;
    top: -10%;
    left:-42%;
    width: 100%;
    height: 100%;
    transform: rotate(-27deg);
    z-index: 0;
  }


.star {
    display: flex;
    position: absolute;
    background: white;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
  }

.blinking {
    animation: blink 2s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }


h2 {
    font-size: 45px;
    color: white;
    display: flex;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}



.intro-section {
    place-items: center;
    display: flex;
    background: linear-gradient(63.13deg, rgba(37, 1, 37, 0.363) 30%, #6045969f 40%, #8E5D52 51.05%);
    height: 100vh;
    color: white;
    justify-content: center; 
    align-items: center;
}

.content-intro {
    z-index: 1;
    display: flex;
    margin-left: 340px;
    margin-right: 340px;
    justify-content: space-between;
    width: calc(100% - 360px);
    align-items: center;
    max-width: 100%;
}

.text-intro p{
    font-size: 63px;
}

.text-intro .i-am {
    font-size: 33px;
}

.text-intro .job {
    font-size: 33px;
}

.cv {
    z-index: 1;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    border: 1px solid white ;
    border-radius: 36px;
    background: linear-gradient(90.21deg, rgb(10, 0, 7) -5.91%, rgba(73, 47, 189, 1) 111.58%);
    letter-spacing: 0;
    transition: letter-spacing 0.3s ease;
}


.cv a {
    text-decoration: none;
    color: white;
    z-index: 2;
    padding: 15px 75px;
    border-radius: 36px;
}

.cv:hover {
    letter-spacing: 2px;
}

.logo {
    margin-right: 20px;
}

.logo img {
    width: 340px;
    height: 440px;
    border-radius: 50%;
    border: 1px solid rgba(128, 0, 128, 0.021);
}


.about-me {
    position: relative;
    width: 100%;
    z-index: 63;
    background: linear-gradient(to bottom, rgb(29, 0, 29) 27%, #4e3a83 40%, #8e5d52 81.05%, rgba(15, 0, 15, 0.93) 93%);
    text-align: center;
    height: 81vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}

.about-me-content {
    max-width: 800px;
    margin: 0 auto;
}


.text-about {
    padding-top: 20px;
    font-size: 30px;
}

.about-me h2 {
    font-size: 45px;
    color: white;
    display: block;
    font-weight: 700;
    font-weight: bold;
}


.center-projects {
    max-width: 1000px;
    margin: 0 auto;
}


.projects {
    display: flex;
    background: linear-gradient(to bottom, rgba(15, 0, 15, 0.93) 18%, #654a9b7e 40%, #dfa194 81.05%, #0e0818 90%);
    padding-top: 80px;
    z-index: 3;
}

.projects h2 {
    margin-bottom: 20px;
}


.pro {
    z-index: 5;
    background-color: #aaaaaa;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
    margin: 0;
    display: flex;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #C4C4C4;
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background: linear-gradient(150deg, rgba(26, 4, 26, 0.93) 27%, #3c07a57e 40%, #061381 81.05%, #200252 93%);
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}


.projects-itens {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
    z-index: 0;
}

.projects button {
    font-family: 'Quando', serif;
    font-size: 18px;
    padding: 8px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background-color: #493737;
    border: none;
    transition: ease-in-out 0.3s;
}

#ver-mais:hover {
    background-color: #7c5147;
}


.github-project {
    font-size: 20px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    text-decoration: none;
}

.github-project a {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 18;
    transition: ease-in-out 0.3s;
    margin-bottom: 45px;
}

.github-project a:hover {
    color: rgb(40, 57, 116);
}

.pro.oculta {
    display: none;
}

.center-skills {
    max-width: 1000px;
    margin: 0 auto;
}


.skills {
    display: flex;
    height: 110ch;
    background: linear-gradient(to bottom, rgba(15, 0, 15, 0.93) 27%, #654a9b7e 40%, #8e5d52 81.05%, rgba(15, 0, 15, 0.93) 93%);
}

.container-skills {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    z-index: 1;
    margin-left: 12px;
    transition: transform 0.6s;
}

.skills h2 {
    margin-top: 120px;
    margin-bottom: 80px;
}


.skill-box {
    display: flex;
    height: 165px;
    width: 280px;
    background-color: #c4c4c41f;
    border-radius: 15px;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    transition: transform 0.4s;
}

.container-skills :hover {
    transform: scale(1.03);
    transition: transform 0.4s;
}


.skill-box img {
    justify-content: center;
}

.skill-box p {
    margin-top: 30px;
    justify-content: center;
    font-size: 20px;
}

.icons a {
    color: white;
    text-decoration: none;
}

.html-skill {
    box-shadow: 0px 5px 10px orangered;
}

.css-skill {
    box-shadow: 0px 5px 10px rgb(99, 136, 255);
}

.js-skill {
    box-shadow: 0px 5px 10px rgb(251, 255, 23);
}

.python-skill {
    box-shadow: 0px 5px 11px rgb(52, 255, 52);
}

.mysql-skill {
    box-shadow: 0px 5px 10px rgb(255, 210, 210);
}

.php-skill {
    box-shadow: 0px 5px 11px gray;
}

.django-skill {
    box-shadow: 0px 5px 10px rgb(0, 100, 0);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.text-footer {
    display: flex;
    flex-direction: column;
    margin-right: 98px;
}

.text-footer p {
    margin: 5px 0;
    font-size:20px;
}

.footer-icons {
    margin-left: 270px; /* Isso adiciona um espaço entre .text-footer e .footer-icons */
    display: flex;
    gap: 30px;
}

.icons a {
    align-items: center;
    margin: 0 10px;
    text-align: center;
}

.icons p {
    margin-top: 5px;
}


.icons img {
    width: 43px;
    height: 43px;
}

